In [275]:
from itertools import count

import pandas as pd
import numpy as np
from dateutil.parser import parse
data = [1, 3, 5, 6, 3, 6, 7, 8, 9]
s1 = [2, 4, 6, 8, 10]
s2 = [1, 3, 5, 7, 9]
str_series = pd.Series(['php', 'python', 'java', 'c#'])
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series1 = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

In [153]:
#1
s = pd.Series(data)
print(s)

0    1
1    3
2    5
3    6
4    3
5    6
dtype: int64

In [ ]:
#2
s = pd.Series(data).tolist()
print(type(s))

In [154]:
#3
series1 = pd.Series(s1)
series2 = pd.Series(s2)
print(series1 - series2)
print(series1 + series2)
print(series1 * series2)
print(series1 / series2)

0    1
1    1
2    1
3    1
4    1
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [18]:
#4
print("Equals:\n",series1 == series2)
print("Greater than:\n",series1 > series2)
print("Less than:\n",series1 < series2)

Equals:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
 0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
#5
sample_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
dict_series = pd.Series(sample_dict)
print(dict_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [22]:
#6
numpy_array = np.array([1, 2, 3, 4, 5])
numpy_series = pd.Series(numpy_array)
print(numpy_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [51]:
#7
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [30]:
#8
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
d_series = df['col1']
print(d_series)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [35]:
#9
print(s1.to_numpy())
print(s1.values)

['100' '200' 'python' '300.12' '400']
['100' '200' 'python' '300.12' '400']

In [41]:
#10
list_series = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
list_series.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [43]:
#11
s1.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [61]:
#12
new_s = pd.concat([s1, pd.Series([1, 2, 4, 5])], ignore_index=True)
new_s

0       100
1       200
2    python
3    300.12
4       400
5         1
6         2
7         4
8         5
dtype: object

In [64]:
#13
print("Original Series:\n", s)
print("Subset of above series\n", s[s < 5])

Original Series:
 0    1
1    3
2    5
3    6
4    3
5    6
dtype: int64
Subset of above series
 0    1
1    3
4    3
dtype: int64

In [73]:
#14
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print("Original Series:\n", s)
s = s.reindex(['e', 'd', 'f', 'c', 'a', 'b'])
print("Index reindexed:\n", s)

Original Series:
 a    1
b    3
c    5
d    6
e    3
f    6
dtype: int64
Index reindexed:
 e    3
d    6
f    6
c    5
a    1
b    3
dtype: int64

In [81]:
#15
s1 = pd.Series(data)
print("Original Series:\n", s1)
print("Mean values:\n", s.mean())
print(f"Standard deviations:\n {s.std():.6f}")

Original Series:
 0    1
1    3
2    5
3    6
4    3
5    6
dtype: int64
Mean values:
 4.0
Standard deviations:
 2.000000

In [89]:
#16
print("Original Series:\n", s1)
s2 = pd.Series([1, 2, 4, 5, 6])
print("Original Series:\n", s2)
print("Differences:\n", s1[~s1.isin(s2)])

Original Series:
 0    1
1    3
2    5
3    6
4    3
5    6
dtype: int64
Original Series:
 0    1
1    2
2    4
3    5
4    6
dtype: int64
Differences:
 1    3
4    3
dtype: int64

In [97]:
#17
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:\n", sr1)
print("Original Series:\n", sr2)
not_common = pd.concat([sr1[~sr1.isin(sr2)], sr2[~sr2.isin(sr1)]], ignore_index=True)
print("Not common:\n", not_common)

Original Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Original Series:
 0     2
1     4
2     6
3     8
4    10
dtype: int64
Not common:
 0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

In [105]:
#18
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print(num_series)
print("Minimum values:\n", num_series.min())
print("25th percentile:\n", num_series.quantile(0.25))
print("Median values:\n", num_series.median())
print("75th percentile:\n", num_series.quantile(0.75))
print("Max values:\n", num_series.max())

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
Minimum values:
 3.0009381077812103
25th percentile:
 8.094638666640218
Median values:
 10.233537051661546
75th percentile:
 12.215377329892807
Max values:
 14.612143210254576

In [123]:
#19
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print(num_series)
num_series.value_counts()

0     5
1     0
2     8
3     3
4     0
5     8
6     6
7     0
8     6
9     2
10    9
11    9
12    9
13    9
14    1
15    8
16    3
17    0
18    5
19    8
20    2
21    6
22    4
23    4
24    9
25    0
26    9
27    4
28    0
29    3
30    4
31    0
32    3
33    7
34    6
35    6
36    3
37    1
38    9
39    7
dtype: object

0    7
9    7
6    5
3    5
4    4
8    4
5    2
2    2
1    2
7    2
Name: count, dtype: int64

In [120]:
#20
num_series.value_counts()
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

0         4
1     Other
2     Other
3     Other
4         4
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
15    Other
16    Other
17        4
18    Other
19    Other
20    Other
21        4
22        4
23    Other
24    Other
25        4
26    Other
27    Other
28    Other
29    Other
30    Other
31    Other
32    Other
33    Other
34    Other
35        4
36    Other
37    Other
38    Other
39        4
dtype: object

In [145]:
#21
print(s1)
pos = np.where(s1 % 5 == 0)
pos

0    1
1    3
2    5
3    6
4    3
5    6
dtype: int64

(array([2]),)

In [147]:
#22
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print(num_series.take(element_pos))

0     2
2     9
6     8
11    0
21    3
dtype: object

In [164]:
#23
data_series = pd.Series(data)
s2_series = pd.Series(s2)
print("Original Series:\n", data_series)
print(s2_series)

s2_pos = np.where(data_series.isin(s2_series))
s2_pos

Original Series:
 0    1
1    3
2    5
3    6
4    3
5    6
6    7
7    8
8    9
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64

(array([0, 1, 2, 4, 6, 8]),)

In [203]:
#24
print("Original Series:\n", str_series)
str_series = str_series.apply(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
str_series

Original Series:
 0       php
1    python
2      java
3        c#
dtype: object

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [213]:
#25
print("Original Series:\n", str_series)
str_series.map(lambda x: len(x))

Original Series:
 0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

0    3
1    6
2    4
3    2
dtype: int64

In [216]:
#26
print("Original Series:\n", data_series)
print(data_series.diff().tolist())
print(data_series.diff().diff().tolist())

Original Series:
 0    1
1    3
2    5
3    6
4    3
5    6
6    7
7    8
8    9
dtype: int64
[nan, 2.0, 2.0, 1.0, -3.0, 3.0, 1.0, 1.0, 1.0]
[nan, nan, 0.0, -1.0, -4.0, 6.0, -2.0, 0.0, 0.0]

In [222]:
#27
print(date_series)
date_series = date_series.apply(lambda x: pd.to_datetime(x))
date_series

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [257]:
#28
print(date_series)
iso_date_series = date_series.apply(lambda x: pd.to_datetime(x))
print("Day of month\n", iso_date_series.dt.day.tolist())
print("Day of year\n", iso_date_series.dt.dayofyear.tolist())
print("Week number\n", iso_date_series.dt.isocalendar().week.tolist())
print("Day of the week\n", iso_date_series.dt.day_name().tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month
 [1, 2, 7, 6, 12, 6]
Day of year
 [1, 276, 66, 126, 103, 96]
Week number
 [1, 39, 10, 19, 15, 14]
Day of the week
 ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [265]:
#29
iso_date_series1 = date_series1.apply(lambda d: parse('11 ' + d))
iso_date_series1

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [280]:
#30
vowels = ['a', 'e', 'i', 'o', 'u']
def count_vowels(word):
    count = 0
    for char in word.lower():
        if char in vowels:
            count += 1
    return count >= 2

new_color_series = color_series[color_series.apply(count_vowels)]
new_color_series

1     Green
2    Orange
4    Yellow
5     White
dtype: object